        <div class="container text-header">
          <h1 class="titre">Évenements</h1>
        </div>
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="col-md-6">
                <div class="blc-button">
                  <a href='/evenements' class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Retour </a>
                </div>
              </div>
                <div class="col-md-6">
                </div>
              </div>

              <div class="row">
                  <div class="col-md-8">
                        <div class="box box-info">
                            <div class="box box-solid">
                                <%= render 'form', evenement: @evenement %>
                            </div>  
                        </div>
                  </div>
              </div>
            </div>
          </div>
