
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Mobile App Resto </div>
      <div class="list-group list-group-flush">
        <%# <%= link_to "DÉJEUNER", dejeuners_path, :class => current_class?(dejeuners_path) %>
        <ul>
          <li class="list-group-item list-group-item-action"><a href="/dejeuners">DÉJEUNER</a> </li>
          <li class="list-group-item list-group-item-action"><a href="#">DESSERT</a> </li>
          <li class="list-group-item list-group-item-action"><a href="#">DINER</a></li>
          <li class="list-group-item list-group-item-action"><a href="#">BOISSONS</a></li>
          <li class="list-group-item list-group-item-action"><a href="/evenements">ÉVENEMENTS</a> </li>
          <li class="list-group-item list-group-item-action"><a href="/users">USERS</a> </li>
          <%# <li><%= link_to "USERS", users_path, :class => current_class?(users_path)  %> </li> 
        </ul>
        
        
        
      </div>
      

      
    </div>
    <!-- /#sidebar-wrapper -->